// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

$button-background: #f8f9fa;
$shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.11);
$button-color: #3c4043;
$button-color2: #212529;

body{
    
    height:100%;
    margin:0px;
}
.box{
    display:flex;
    flex-flow:column;
    height:100%;
    .content{
        flex: 1 1 auto;

    }
}

div {
    display: block;
}


.bar{
    border-radius: 24px;
    max-width: 584px;
    height: 46px;
    text-align: center;
    border: 1px solid #dfe1e5 ;
    display: flex;
    position: relative;
    margin:auto;
    margin-bottom:17px;
    z-index: 3;
    &:hover{
        box-shadow: $shadow;
    }
} 


.search-buttons{
    margin:auto;
    width:auto;

    .btn2{
        color: $button-color;
        margin: 11px 4px;
        padding: 0 16px;
        font-family: arial, sans-serif;
        border: 1px solid $button-background;
        border-radius: 4px;
        background-color: $button-background;
        font-size: 14px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        user-select: none;

        &:hover{
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.103);
            background-color: $button-background;
            border: 1px solid #dadce0;
            color: #202124;
        }
    }
}


.nav-bar{
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
    
    .btn{
        /*margin:10px;*/
        padding: 5px;
        font-family: arial, sans-serif;
        font-size: 14px;
        border: none;
        &:hover{
            text-decoration: underline;
        }
        &:focus{
            box-shadow:none;
        }
    } 
    .about{
        margin-right:5px;
        margin-left: 15px;
        display: inline-block; 
    }
    .store{
        margin: 0px 5px;
    }
    .right-side{
        display: inline-block;
        flex-grow: 1;
        height: 48px;
        font-size: 14px;
        font-family: Roboto,arial,sans-serif;
        color: #202124;
        min-width: auto;
        z-index: 986;
        font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 13px;
        line-height: 27px;
        font-family: Roboto, RobotoDraft, Arial, sans-serif;
        position: relative;
        transition: box-shadow 250ms;
        .right{
            float: right;
            padding-left: 32px;
            box-sizing: border-box;
            height: 48px;
            line-height: normal;
            padding-right: 4px;
            flex-basis: auto;
            justify-content: flex-end;
            vertical-align: middle;
            white-space: nowrap;
            -webkit-box-align: center;
            display: flex;
            .gmail-images{
                font-family: arial,sans-serif;
                line-height: normal;
                padding-right: 15px;
                
            }
            
            .right-elements{
                height: 46px;
                width: 149px;
                float: right;
                position: relative;
                .apps{
                    padding:1px 8px 4px 6px;
                    display: inline-block;
                    vertical-align:middle;
                    position: relative;
                    .apps-icon{
                        cursor: pointer;
                        opacity: 1;
                    }
                }
                
            } 
        }
        
    }
}


.img{
    margin-top: 15px;
    margin-bottom:6px;
    margin-left: 2px;
    padding-bottom: 20px; 
}

form{
    img.q{
        margin:auto;
        margin-left: 7px;
        margin-right: 15px;
        padding: 0px;
        width: 16px;
        height: 21px;
    }
    img.voice{
        margin:auto;
        
        padding-right: 7px;
        width: 23px;
        height: 22px;
    }
    input:focus {
        outline-width: 0;
    }
    input.text{
        margin: auto;
        border:none;
        width: 85%;
    }
}

.qbutton{
    margin:auto;
    padding-right: 7px;
    width: 25px;
    height: 20px; 
}
.qbutton:focus {
    outline-width: 0;
}

.i1{
    display: inline-block;
    padding-left: 15px;
}
.i2{
    display: inline-block;
    line-height: 24px;
    font-size: 13px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
}

.btn1{
    
display: inline-block;
font-size: 13px;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  
  @include transition($btn-transition);

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    @include box-shadow($btn-active-box-shadow);

    
  }
  &:hover{
    text-decoration: underline;
    color: $button-color2;
}
&:focus{
    box-shadow:none;
}
  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
}
.btn1{
    padding: 0px;
    font-family: arial, sans-serif;
    font-size: 13px;
    border: none;
    &:hover{
        text-decoration: underline;
        color: $button-color2;
    }
    &:focus{
        box-shadow:none;
    }
}


.display-inline{
    display: inline;
}
a:hover {
    color: $button-color2;
    text-decoration: underline;
}

.o3j99{
    vertical-align: bottom;
}






.box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .box .row {
    border: 1px dotted #0313fc;
  }
  .box .row.header {
    flex: 0 1 auto;
  }
  .box .row.content {
    flex: 1 1 auto;
  }
  .box .row.footer {
    flex: 0 1 40px;
  } 